#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'
#
#               Example environment configuration
#
#   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-.   .-.-
#  / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \ \ / / \
# `-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'   `-`-'

# By default, the examples support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
PRIVATE_KEY=
rpc=https://testnet.rpc.ethena.fi
TOKEN_ADDR=0x426E7d03f9803Dd11cb8616C65b99a3c0AfeA6dE
OFT_ADDRESS=0x80f9Ec4bA5746d8214b3A9a73cc4390AB0F0E633
OFT_ADAPTER=0x162cc96D5E528F3E5Ce02EF3847216a917ba55bb
ETHERSCAN_API_KEY=
MAINNET_RPC=
cast send --rpc-url https://ethereum-sepolia-rpc.publicnode.com --interactive
0xf805ce4F96e0EdD6f0b6cd4be22B34b92373d696 "approve(address, uint256)"
"0x162cc96D5E528F3E5Ce02EF3847216a917ba55bb" 1000000000000000000

cast send --rpc-url https://ethereum-sepolia-rpc.publicnode.com --interactive
0x162cc96D5E528F3E5Ce02EF3847216a917ba55bb "deposit(uint256, address)"
1000000000000000000 "<your_address_here>"